.DS_Store
screenlog.0
www/bower_components/*
www/dist/*
www/node_modules/*
www/tmp/*
getz
.walletpass
config.json
testnet.json
open-ethereum-pool
/build/_workspace/
/build/bin/
/www/nbproject/private/
/.idea/
