<!-- BEGIN: Header -->
<header class="m-grid__item m-header"  data-minimize-offset="200" data-minimize-mobile-offset="200" >
    <div class="m-container m-container--responsive m-container--xxl m-container--full-height">
        <div class="m-stack m-stack--ver m-stack--desktop">
            <!-- BEGIN: Brand -->
            <div class="m-stack__item m-brand  m-brand--skin-light ">
                <div class="m-stack m-stack--ver m-stack--general">
                    <div class="m-stack__item m-stack__item--middle m-brand__logo">
                            {{#link-to 'index' class="m-brand__logo-wrapper"}}<img alt="" src="/assets/img/automo_logo.png" height="40" />{{/link-to}}
                    </div>
                    <div class="m-stack__item m-stack__item--middle m-brand__tools">

                        <!-- BEGIN: Responsive Header Menu Toggler -->
                        <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                    </div>
                </div>
            </div>
            <!-- END: Brand -->
            <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                <!-- BEGIN: Horizontal Menu -->
                <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>

                <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light collapse navbar-collapse"  >
                    <ul class="m-menu__nav ">
                        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"
                            data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
                            <a href="javascript:void(0);" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon flaticon-network"></i>
                                <span class="m-menu__link-text">Pools</span>
                                <i class="m-menu__hor-arrow la la-angle-down"></i>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left"><span
                                    class="m-menu__arrow m-menu__arrow--adjust"></span>
                                <ul class="m-menu__subnav">
                                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                        <a href="http://etz.altpool.pro/" class="m-menu__link" target="_blank">
                                            <span class="m-menu__link-text"><img src="/img/coin-etz.png" class="align-content-center" style="width: 100%; height: auto; max-height: 30px;max-width: 30px;">&nbsp;&nbsp;&nbsp;ETZ Pool (Ether Zero)</span>
                                        </a>
                                    </li>
                                    <li class="m-menu__item " data-redirect="true" aria-haspopup="true">
                                        <a href="http://dbix.altpool.pro/" class="m-menu__link" target="_blank">
                                            <span class="m-menu__link-text"><img src="Current pool feeimg/coin-dbix.png" class="align-content-center" style="width: 100%; height: auto; max-height: 30px;max-width: 30px;">&nbsp;&nbsp;&nbsp;DBIX Pool (DubaiCoin)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="m-menu__item m-menu__item--submenu m-menu__item--rel" data-redirect="true" aria-haspopup="true">
                            {{#link-to 'help' class="m-menu__link m-menu__toggle"}}
                                <i class="m-menu__link-icon flaticon-info"></i>
                                <span class="m-menu__link-text">Help</span>
                            {{/link-to}}
                        </li>
                        <li class="m-menu__item m-menu__item--submenu m-menu__item--rel" data-redirect="true" aria-haspopup="true">
                                {{#link-to 'blocks' class="m-menu__link m-menu__toggle"}}
                                <i class="m-menu__link-icon flaticon-squares-1"></i>
                                <span class="m-menu__link-text">Pool Blocks {{#if immatureTotal}}<span class="m-badge m-badge--success m-badge--wide m-badge--rounded">{{immatureTotal}}</span>{{/if}}</span>
                                {{/link-to}}
                        </li>
                        <li class="m-menu__item m-menu__item--submenu m-menu__item--rel" data-redirect="true" aria-haspopup="true">
                            {{#link-to 'payments' class="m-menu__link m-menu__toggle"}}
                                <i class="m-menu__link-icon flaticon-coins"></i>
                                <span class="m-menu__link-text">Payments</span>
                            {{/link-to}}
                        </li>
                        <li class="m-menu__item m-menu__item--submenu m-menu__item--rel" data-redirect="true" aria-haspopup="true">
                            {{#link-to 'miners' class="m-menu__link m-menu__toggle"}}
                                <i class="m-menu__link-icon flaticon-users"></i>
                                <span class="m-menu__link-text">Miners <span class="m-badge m-badge--info m-badge--wide m-badge--rounded">{{model.minersTotal}}</span></span>
                            {{/link-to}}
                        </li>

                        <li class="m-menu__item m-menu__item--submenu m-menu__item--rel" data-redirect="true" aria-haspopup="true">
                            <a href="https://discord.gg/h5xgPDZ" target="_blank" class="m-menu__link m-menu__toggle" title="Join our Discord Channel">
                                <i style="color: #0088cc" class="m-menu__link-icon fab fa-discord"></i>
                                <span class="m-menu__link-text m--font-metal">Support</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END: Horizontal Menu -->
            </div>
        </div>
    </div>
</header>
<!-- END: Header -->

<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">

<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">

    <div class="m-grid__item m-grid__item--fluid m-wrapper">

{{outlet}}

    </div>
</div>

<!-- begin::Footer -->
<footer class="m-grid__item	m-footer ">
    <div class="m-container m-container--fluid m-container--full-height m-page__container">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
				<span class="m-footer__copyright">
					2018 &copy; {{config.COIN}}.automo.io  | {{#link-to 'about' class="m-menu__link m-menu__toggle"}}About{{/link-to}} | Join us on discord: <a href="https://discord.gg/h5xgPDZ" target="_blank"><i class="fab fa-discord"></i></a> | Full compatible with: <a href="https://www.miningrigrentals.com?ref=2587976" target="_blank"><img class="footer-social" src="/img/miningrigrentals_automo.png"/></a> and <a href="https://www.nicehash.com" target="_blank"><img class="footer-social" src="/img/NH_logo_automo.png"/></a>
				</span>
            </div>
        </div>
    </div>
</footer>
<!-- end::Footer -->


</div>
<!-- end:: Page -->
